.bodyTable{
    display: flex;
    flex-direction: row;
}
.btn{/*from boot strap dont keep full name just type*/
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 10px 15px 50px;
    display: flex;
}
.btn1{
    background-color: navy;
    text-align: center;
    padding: 25px 10px 15px 50px;
    display: flex;
}
.btn2{
    background-color: navy;
    text-align: center;
    padding: 10px 10px 15px 50px;
    display: flex;
}
.btn3{
    background-color: red;
    text-align: center;
    padding: 10px 10px 15px 50px;
    display: flex;
}
.btn4{/*from boot strap dont keep full name just type*/
    background-color: black;
    color: white;
    text-align: center;
    border-color: black;
    padding: 25px 60px 15px 50px;
    display: flex;
}
