<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<meta lang ="ISO-8859-1">
<head>
    <meta charset="UTF-8">
    <title>Project Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/reqCreate_styles.css}">


</head>
<body class = "body">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Project Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projects/new/risks}">Project Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class = "row">
    <div class = "col-lg-6 col-md-6 col-sm-6 card">
        <h1 Class = "text-center">Create New Risk</h1>
        <div class = "card-body">
            <form th:action="@{/projects/edit/risks}" th:object = "${risk}" method = "POST">

                <div class = "form-group">
                    <label>Risk Name</label>
                    <input type="text"
                           name="risk_name"
                           th:field = "*{risk_name}"
                           class = "form-control"
                           placeholder="Enter Risk Name"/>
                </div>

                <div class = "form-group">
                    <label>Risk Description</label>
                    <input type="text"
                           name="description"
                           th:field = "*{description}"
                           class = "form-control"
                           placeholder="Enter Risk Description"/>
                </div>
                <div class = "form-group">
                    <label>Probability</label>
                    <input type="text"
                           name="probability"
                           th:field = "*{probability}"
                           class = "form-control"
                           placeholder="Enter Probability"/>
                </div>
                <div class = "form-group">
                    <label>Mitigation Plans</label>
                    <input type="text"
                           name="mitigation"
                           th:field = "*{mitigation}"
                           class = "form-control"
                           placeholder="Enter Mitigation Plans"/>
                </div>
                <div class = "form-group">
                    <label>Contingency Plan</label>
                    <input type="text"
                           name="contingency"
                           th:field = "*{contingency}"
                           class = "form-control"
                           placeholder="Enter Contingency Plan"/>
                </div>
                <div class = "form-group">
                    <label> Risk Score</label>
                    <input type="text"
                           name="risk_score"
                           th:field = "*{risk_score}"
                           class = "form-control"
                           placeholder="Enter Risk Score"/>
                </div>
                <div class = "form-group">
                    <label>Mitigation Action By </label>
                    <input type="text"
                           name="action_by"
                           th:field = "*{action_by}"
                           class = "form-control"
                           placeholder="Enter Mitigation Action By"/>
                </div>
                <p> Category</p>
                <select th:field="*{category}">
                    <option value="Schedule">Schedule</option>
                    <option value="Budget">Budget</option>
                    <option value="Scope">Scope</option>
                </select>
                <p> Impact </p>
                <select th:field="*{impact}">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>

                <div class = "box-footer">
                    <button type = "submit" class = "button">
                        Submit
                    </button>
                    <form>
                        <input type="button" class = "return" value="Return     " onclick="history.go(-1)">
                    </form>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>