<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<meta lang ="ISO-8859-1">
<head>
    <meta charset="UTF-8">
    <title>Project Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/requirement_styles.css}">

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <form>
        <input type="button" class = "return" value="Return     " onclick="history.go(-1)">
    </form>
    <!-- Brand -->
    <a class="navbar-brand" href="#">Project Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/projects}">Project Management</a>
            </li>
        </ul>
    </div>
</nav>


    <div class = "container">
        <div class = "row" >
            <h1> List Decision </h1>
        </div>

        <div class = "row">
            <div class = col-lg-3>
                <a th:href = "@{/projects/edit/decisions/new}" class = "btn btn-primary btn-sm mb-3"> Add Decisions</a>
            </div>
        </div>

        <div class = "bodyTable">
            <div class="btn-group-vertical" role="group" aria-label="Basic example">
                <a th:href = "@{/projects/edit/requirements}">
                    <button type="button" class="btn btn-secondary" >Requirements</button>
                </a>
                <a th:href = "@{/projects/edit/tasks}">
                    <button type="button" class="btn btn-secondary"><pre class = "textbtn">Task        </pre></button>
                </a>
                <a th:href = "@{/projects/edit/action_items}">
                    <button type="button" class="btn btn-secondary"><pre class = "textbtn">Action Items</pre></button>
                </a>
                <a th:href = "@{/projects/edit/issues}">
                    <button type="button" class="btn btn-secondary"><pre class = "textbtn">Issues      </pre></button>
                </a>
                <a th:href = "@{/projects/edit/decisions}">
                    <button type="button" class="btn btn-secondary"><pre class ="textbtn">Decisions   </pre></button>
                </a>
                <a th:href = "@{/projects/edit/risks}">
                    <button type="button" class="btn btn-secondary"><pre class = "textbtn">Risk        </pre></button>
                </a>
                <a th:href = "@{/projects/edit/resources}">
                    <button type="button" class="btn btn-secondary"><pre class = "textbtn">Resources   </pre></button>
                </a>
                <form>
                    <input type="button" class = "return" value="Return     " onclick="history.go(-1)">
                </form>
            </div>
            <table class = "table table-striped table-bordered table-dark">
                <thead>
                <tr>
                    <th> Decision Name</th>
                    <th> Decision Description</th>
                    <th> Actions</th>
                </tr>
                </thead>


                <tbody>


                <tr th:each = "decision: ${decisions}">
                    <td th:text ="${decision.decision_name}"></td>
                    <td th:text ="${decision.description}"></td>

                    <td>

                        <a th:href = "@{/projects/edit/decisions/edit/{id}(id=${decision.id})}" class = "btn2 btn-primary">Update</a>
                        <a th:href = "@{/projects/edit/decisions/{id}(id=${decision.id})}" class = "btn3 btn-danger">Delete</a>
                    </td>
                </tr>

                </tbody>

            </table>
        </div>
    </div>
</body>
</html>